
body{
    font-size: 20px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

input:focus{
    outline-width: 0;
}

.addemployeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

.addemployeContainer form{
    padding: 40px 100px;
    border: 1px solid black;
    border-radius: 15px;
}

.error{
    color: red;
    text-decoration: none;
    font-size: 14px;
}

.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.m-right{
    margin-right: 10px;
    
}

.save{
    cursor: pointer;
    padding: 15px;
    border: none;
    background-color: brown;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10px;
}