.container{
    margin-top:40px;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100vw;
    border-collapse: separate;
  border-spacing: 0;
  text-align: center;
}

td{
    width: 300px;
}

tbody{
    padding: 50px;
    border: 1px solid brown;
    /* border-radius: 40px; */
    background-color: rgb(75, 41, 41);
}

tr{
    padding: 20px;
    width: 500px;
}

td{
    color: aliceblue;
    background-color: rgba(60, 38, 38, 0.941);
    padding: 20px;
    border: 0.1px solid rgb(250, 132, 132);
}

a.link{
    color: black; border: 1px solid black; background-color: transparent;padding:10px; text-decoration: none;margin: 10px;
}
a.link:hover{
    border: 1px solid rgb(212, 249, 6);
    outline: rgb(212, 249, 6),solid,20px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions input{
    color: white;
    border: 1px solid white; 
    background-color: transparent;
    padding:10px;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

a.edit{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
}

.input_delete:hover , a.edit:hover{
    border: 1px solid rgb(212, 249, 6);
}

.trContainer{
    width: 100%;
    display: flex;
    justify-content: stretch;
}

a.edit::hover{
    border: 1px solid white;
}

