@tailwind base;
@tailwind components;
@tailwind utilities;

*,body{
    background-color: rgb(102, 103, 105);
}

a:hover{
    background-color: rgb(236, 151, 151);
    color: darkred;
}

a{
    color: white; background-color: brown;padding:10px;border-radius: 10px;
}